<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Motorcycle Club</title>
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" type="image/x-icon" href="/images/favicon_io/favicon.ico">
    </head>

    <body>
        <header class="header" id="header">
            <nav>
                <ul>
                    {{#if logged_in}}
                    <li><a href="/">All Trips</a></li>
                    {{else}}
                    <li><a href="/">Home</a></li>
                    {{/if}}
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/profile/mytrips">My Trips</a></li>
                    {{#if logged_in}}
                        <li><a href="/" id="logout">Logout</a></li>
                    {{else}}
                        <li><a href="/login">Login</a></li>
                        <li><a href="/signup">Sign Up</a></li>
                    {{/if}}
                    {{#if isAdmin}}
                        <li><a href="/newTrip">AddTrips</a></li>
                        <li><a href="/tripList">Check Attendance</a></li>
                    {{/if}}                    

                </ul>
                <button class="menu-button" id="menu-button">
          <ion-icon class="bars" name="menu-outline"></ion-icon>
        </button>
            </nav>
            
            <h1>Motorcycle Club</h1>
        </header>

        <main class="core-intro">
            {{{ body }}}
        </main>

        {{#if logged_in}}
        <script src="/js/logout.js"></script>
        {{/if}}
    </body>

    <script src="js/functions.js"></script>
        <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <script src="/assets/js/handlebars-v4.7.7.js"></script>


</html>