<div>
    <div class="login-card projects">
        <h2 class="page-title">Add A Trip Image</h2>
        <form action="/api/newTrip/addimage" enctype="multipart/form-data" method="POST">
            <label for="myFile">Trip Image:</label>
            <input type="file" class="admin_input" id="myFile" name="myFile" />
            <input class="admin_submit" type="submit" />
        </form>
    </div>
</div>