{{!-- NEW TRIP --}}
<div>
  <div class="login-card">
    <h2 class="page-title">Create new event HERE</h2>
    <form class="form signup-form" id="new_trip">
      {{!-- TRIP NAME --}}
      <div class="form-group">
        <label for="trip_name">Trip:</label>
        <input class="form-input" type="text" id="trip_name" />
      </div>
      {{!-- DESTINATION --}}
      <div class="form-group">
        <label for="trip_destination">Destination:</label>
        <input class="form-input" type="text" id="trip_destination" />
      </div>
      {{!-- EST. TIME --}}
      <div class="form-group">
        <label for="time">Est. Time:</label>
        <input class="form-input" type="text" id="est_time" />
      </div>
      {{!-- EST. DAYS --}}
      <div class="form-group">
        <label for="est_days">Est. Days:</label>
        <input class="form-input" type="text" id="est_days" />
      </div>
      {{!-- EST. KMS --}}
      <div class="form-group">
        <label for="est_kms">Kms:</label>
        <input class="form-input" type="text" id="est_kms" />
      </div>
      {{!-- TOLLS --}}
      <div class="form-group">
        <label for="tolls">Tolls:</label>
        <input class="form-input" type="text" id="tolls" />
      </div>
      {{!-- FUEL --}}
      <div class="form-group">
        <label for="fuel_cost">Aprox Fuel Cost:</label>
        <input class="form-input" type="text" id="fuel_cost" />
      </div>
      {{!-- FOOD --}}
      <div class="form-group">
        <label for="food_cost">Aprox Food Cost:</label>
        <input class="form-input" type="text" id="food_cost" />
      </div>
      {{!-- HOTEL --}}
      <div class="form-group">
        <label for="hotel_cost">Aprox Hotel Cost:</label>
        <input class="form-input" type="text" id="hotel_cost" />
      </div>
      {{!-- Difficulty --}}
      <div class="form-group">
        <label for="difficulty">Difficulty:</label>
        <input class="form-input" type="text" id="difficulty" />
      </div>
      {{!-- DATE --}}
      <div class="form-group">
        <label for="trip_date">Trip Date:</label>
        <input class="form-input" type="date" id="trip_date" />
      </div>
      
      {{!-- SIGNUP BUTTON --}}
      <div class="form-group">
        <button class="btn btn-primary" type="submit" id="submitBtn">Submit</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/newTrip.js"></script>