  {{!-- REGISTER --}}
  <div class="login-card">
    <h2 class="page-title">If you don't have an account, create one Here</h2>
    <form class="form signup-form">
      {{!-- username --}}
      <div class="form-group">
        <label for="username-signup">Username:</label>
        <input class="form-input" type="text" id="username-signup" />
      </div>
      {{!-- email --}}
      <div class="form-group">
        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      {{!-- password --}}
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      {{!-- first name --}}
      <div class="form-group">
        <label for="first_name">First Name:</label>
        <input class="form-input" type="text" id="first_name" />
      </div>
      {{!-- last name --}}
      <div class="form-group">
        <label for="last_name">Last Name:</label>
        <input class="form-input" type="text" id="last_name" />
      </div>
      {{!-- nickname --}}
      <div class="form-group">
        <label for="nickname">Nickname:</label>
        <input class="form-input" type="text" id="nickname" />
      </div>
      {{!-- DOB --}}
      <div class="form-group">
        <label for="dob">Date of Birth:</label>
        <input class="form-input" type="text" id="dob" />
      </div>
      {{!-- Mobile phone --}}
      <div class="form-group">
        <label for="mobile_phone">Mobile Phone:</label>
        <input class="form-input" type="number" id="mobile_phone" />
      </div>
      {{!-- HOG ID --}}
      <div class="form-group">
        <label for="hog_id">HOG Number:</label>
        <input class="form-input" type="text" id="hog_id" />
      </div>
      
      {{!-- SIGNUP BUTTON --}}
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/register.js"></script>