@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables */
:root {
  --font-family: "Roboto", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: rgb(255, 255, 255);
  --primary-color: rgb(255, 102, 0);
  --secondary-color: rgb(134, 134, 134);
  --primary-shadow: #ffffff;
  --secondary-shadow: #000000;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

/*
a {
  text-decoration: none;
  color: var(--primary-color);
}
*/

a:hover {
  color: var(--secondary-color);
}

body {
  background: white;

  /*
  background: rgb(0, 0, 0);
  background: linear-gradient(100deg, rgb(0, 0, 0) 69%, rgba(0, 0, 0, 1) 100%);
  
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgb(0, 0, 0) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  */
  font-family: var(--font-family);
}

header {
  border-radius: 6px;
  box-shadow: 0px 30px 90px 32px black;
  margin-bottom: 80px;
}

header h1 {
  padding-top: 20px;
}

header a {
  text-decoration: none;
}

/* Navigation bar starts here */

nav {
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background: linear-gradient(
    -45deg,
    #030100,
    #e73c3c,
    #030100,
    #ff8800,
    #000201
  );
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  box-shadow: 0 3px 50px rgba(0, 0, 0, 1);
}

nav img {
  width: 130px;
  height: 140px;
  box-shadow: 0px 2px 15px 2px var(--primary-shadow);
  background-color: white;
}

/*
nav a {
  -webkit-text-stroke: 0.02px black;
  color: var(--primary-color);
  transition: var(--transition);
}
nav a:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}
*/

nav a {
  text-decoration: none;
}

nav ul {
  display: flex;
  gap: 1.9rem;
  text-decoration: none;
}

nav ul li {
  font-weight: var(--bold-font);
  text-decoration: none;
}

/*
.nav-link {
  width: 25rem;
  padding: 0.625rem;
  margin: auto;
  border-radius: 6px;
  box-shadow: 0px 2px 15px 2px var(--primary-shadow);
  background-color: rgb(0, 0, 0);
}
*/

.navbar {
  list-style-type: none;
  text-decoration: none;
}

/* End of navigation bar */
.sub-header-black {
  text-align: center;
  background-color: #000000;
}

.glowing-text {
  color: #fff;
  font-size: 100px;
  margin: auto;
  text-shadow: 0px -1px 2px white, 0px -3px 6px rgba(255, 200, 200, 1),
    0px -6px 12px rgba(255, 150, 100, 1), 0px -10px 20px rgba(255, 100, 100, 1),
    0px -15px 30px rgba(255, 50, 50, 1), 0px -21px 42px rgba(255, 0, 0, 1);
  animation: fire 0.01s ease, colorSpin 10s linear infinite;
  font-family: Sans-serif;
}
/* Menu button for mobile devices starts here */
.menu-button {
  color: var(--primary-color);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}
/* Menu button for mobile devices ends here */

/* Main area of the page */
.core-intro {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: 68.75rem;
  margin: auto;
}

.core-intro img {
  height: 11.5rem;
  width: 11.5rem;
  margin-top: 2.8rem;
}

.core {
  width: 25rem;
  padding: 0.625rem;
  margin: auto;
  border-radius: 6px;
  box-shadow: 0px 2px 15px 2px var(--primary-shadow);
  background-color: white;
}

.core h2 {
  -webkit-text-stroke: 0.2px black;
  color: var(--primary-color);
  margin-bottom: var(--bottom-margin);
}

.core p {
  line-height: var(--line-height);
  padding: 0.3rem 0;
}

* {
  box-sizing: border-box;
}

/* Projects section styling start */
.projects {
  background-color: var(--bg-color);
  padding: 32px 0;
  margin-top: 7rem;
  box-shadow: 0 3px 50px rgba(0, 0, 0, 1);
}

.project-screenshot {
  width: 65%;
  height: 60%;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-title {
  -webkit-text-stroke: 0.2px black;
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 1rem;
}

.project-container {
  text-align: center;
  width: 21.875rem;
  padding: 1rem;
}

.project-container p {
  padding: 0.4rem;
}

.project-title {
  margin-bottom: var(--bottom-margin);
}

.project-details {
  margin-bottom: var(--bottom-margin);
}

/* Cards for projects */
.project-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0px 0px 28px var(--secondary-shadow);
  padding: 20px;
  margin: 10px;
  -webkit-text-stroke: 0.2px black;
}

.project-card img {
  width: 100px;
  height: 100px;
}

/* End of card styling */
/* End of projects section */

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes fire {
  50% {
    text-shadow: 0px -4px 8px white, 0px -12px 24px rgba(255, 200, 200, 1),
      0px -24px 48px rgba(255, 150, 100, 1),
      0px -40px 80px rgba(255, 100, 100, 1),
      0px -60px 120px rgba(255, 50, 50, 1), 0px -84px 168px rgba(255, 0, 0, 1);
  }
}

@keyframes colorSpin {
  to {
    filter: hue-rotate(360deg);
  }
}
/* End main page section */

/* Contact section styling starts here 
.contact {
  margin-top: 7rem;
}

.contact h2 {
  -webkit-text-stroke: 0.2px black;
  color: var(--primary-color);
  text-align: center;
  margin-bottom: var(--bottom-margin-2);
}

.contact-form-container {
  max-width: 40.75rem;
  margin: 0 auto;
  padding: 0.938rem;
  border-radius: 5px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
}

.contact-form-container label {
  line-height: 2.7em;
  font-weight: var(--bold-font);
  color: var(--primary-color);
}

.contact-form-container textarea {
  min-height: 6.25rem;
  font-size: 14px;
}

.contact-form-container .input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: none;
  border: 2px outset var(--primary-color);
  font-size: 0.875rem;
  outline: none;
}

.input-field::placeholder {
  padding: 0.5rem;
  color: rgb(0, 0, 0);
}

.submit-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: var(--bold-font);
  transition: var(--transition);
}

.submit-btn:hover {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  cursor: pointer;
}
/* End of contact section */

/* Arrow button styling starts here */
.button-icon {
  width: 2rem;
  height: 2rem;
}

.scroll-up {
  position: fixed;
  right: 0.5%;
  bottom: 3%;
  cursor: pointer;
}

.up-arrow {
  width: 3rem;
  height: 3rem;
}
/* Arrow button ends */

/* Footer section styling starts here */
footer {
  background-color: var(--bg-color);
  font-size: 30px;
  padding: 1.25rem;
  text-align: center;
  margin: 6rem 0 0;
}
/* Footer section styling ends here */

/* Other devices styling specifications */
@media screen and (max-width: 720px) {
  nav {
    padding: 1.5rem 1rem;
  }
  nav ul {
    position: fixed;
    background-color: var(--bg-color);
    flex-direction: column;
    top: 86px;
    left: 10%;
    width: 80%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
  }

  nav ul li {
    margin: 8px;
  }

  .menu-button {
    display: block;
  }

  nav ul.show {
    transform: translateX(0);
  }

  .core-intro {
    margin-top: -4rem;
    flex-direction: column;
    gap: 0;
  }

  .core-intro img {
    height: 37.5rem;
    width: 30rem;
  }

  .core {
    margin-top: -7rem;
    width: 20.5rem;
  }

  .about-me {
    margin-top: 2rem;
    padding: 1rem 3.5rem;
  }

  .about-me h2 {
    text-align: center;
  }

  .about-me p {
    text-align: justify;
  }

  .button-icon {
    width: 5.875rem;
    height: 5.25rem;
  }

  .project-container {
    flex-direction: column;
  }

  .project-container {
    width: 20.875rem;
  }

  .project-card img {
    width: 100px;
    height: 100px;
  }

  .contact-form-container {
    max-width: 23.75rem;
  }
}

@media screen and (max-width: 420px) {
  .core img {
    height: 37.5rem;
    width: 23rem;
  }

  .core {
    width: 18.3rem;
  }

  .project-container {
    width: 17.875rem;
  }

  .project-card img {
    width: 100px;
    height: 100px;
  }

  .contact-form-container {
    max-width: 17.75rem;
  }
}

/* Add styles to tables */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #a79f94;
}

.avatar {
  height: 10rem;
  width: 10rem;
  overflow: hidden;
}
