@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables */
:root {
  --font-family: "Roboto", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: rgb(255, 255, 255);
  --primary-color: rgb(255, 102, 0);
  --secondary-color: rgb(134, 134, 134);
  --primary-shadow: #ffffff;
  --secondary-shadow: #000000;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

body {
  background: linear-gradient(
    -45deg,
    #030100,
    #e73c3c,
    #030100,
    #ff8800,
    #000201
  );
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;

  /*
  background: rgb(0, 0, 0);
  background: linear-gradient(100deg, rgb(0, 0, 0) 69%, rgba(0, 0, 0, 1) 100%);
  
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgb(0, 0, 0) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  */
  font-family: var(--font-family);
}

header {
  border-radius: 6px;
  box-shadow: 0px 2px 105px 32px black;
}

/* Navigation bar starts here */
nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: var(--bg-color);
  box-shadow: 0 3px 50px rgba(0, 0, 0, 1);
}

nav h1 {
  -webkit-text-stroke: 0.2px black;
  color: var(--primary-color);
}

nav img {
  width: 130px;
  height: 140px;
  box-shadow: 0px 2px 15px 2px var(--primary-shadow);
  background-color: white;
}

nav a {
  -webkit-text-stroke: 0.02px black;
  color: var(--primary-color);
  transition: var(--transition);
}
nav a:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

nav ul {
  display: flex;
  gap: 1.9rem;
}

nav ul li {
  font-weight: var(--bold-font);
}

.nav-link {
  width: 25rem;
  padding: 0.625rem;
  margin: auto;
  border-radius: 6px;
  box-shadow: 0px 2px 15px 2px var(--primary-shadow);
  background-color: rgb(0, 0, 0);
}

/* End of navigation bar */

/* Menu button for mobile devices starts here */
.menu-button {
  color: var(--primary-color);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}
/* Menu button for mobile devices ends here */

/* Main area of the page */
.core-intro {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: 68.75rem;
  margin: auto;
}

.core-intro img {
  height: 25.5rem;
  width: 32.5rem;
  margin-top: 2.8rem;
}

.core {
  width: 25rem;
  padding: 0.625rem;
  margin: auto;
  border-radius: 6px;
  box-shadow: 0px 2px 15px 2px var(--primary-shadow);
  background-color: white;
}

.core h2 {
  -webkit-text-stroke: 0.2px black;
  color: var(--primary-color);
  margin-bottom: var(--bottom-margin);
}

.core p {
  line-height: var(--line-height);
  padding: 0.3rem 0;
}

* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 22px;
  padding: 430px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 20px;
  padding: 20px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 10px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* End main page section */

/* Arrow button styling starts here */
.button-icon {
  width: 2rem;
  height: 2rem;
}

.scroll-up {
  position: fixed;
  right: 0.5%;
  bottom: 3%;
  cursor: pointer;
}

.up-arrow {
  width: 3rem;
  height: 3rem;
}
/* Arrow button ends */

/* Footer section styling starts here */
footer {
  background-color: var(--bg-color);
  font-size: 30px;
  padding: 1.25rem;
  text-align: center;
  margin: 6rem 0 0;
}
/* Footer section styling ends here */

/* Other devices styling specifications */
@media screen and (max-width: 720px) {
  nav {
    padding: 1.5rem 1rem;
  }
  nav ul {
    position: fixed;
    background-color: var(--bg-color);
    flex-direction: column;
    top: 86px;
    left: 10%;
    width: 80%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
  }

  nav ul li {
    margin: 8px;
  }

  .menu-button {
    display: block;
  }

  nav ul.show {
    transform: translateX(0);
  }

  .core-intro {
    margin-top: -4rem;
    flex-direction: column;
    gap: 0;
  }

  .core-intro img {
    height: 37.5rem;
    width: 30rem;
  }

  .core {
    margin-top: -7rem;
    width: 20.5rem;
  }

  .about-me {
    margin-top: 2rem;
    padding: 1rem 3.5rem;
  }

  .about-me h2 {
    text-align: center;
  }

  .about-me p {
    text-align: justify;
  }

  .button-icon {
    width: 5.875rem;
    height: 5.25rem;
  }

  .project-container {
    flex-direction: column;
  }

  .project-container {
    width: 20.875rem;
  }

  .contact-form-container {
    max-width: 23.75rem;
  }
}

@media screen and (max-width: 420px) {
  .core img {
    height: 37.5rem;
    width: 23rem;
  }

  .core {
    width: 18.3rem;
  }

  .project-container {
    width: 17.875rem;
  }

  .contact-form-container {
    max-width: 17.75rem;
  }
}
